@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: #94bbe9;
    --color-secondary: #eeaeca;
  }
}

@layer utilities {
  .animate-delay-75 {
    animation-delay: 75ms;
  }
  .animate-delay-100 {
    animation-delay: 100ms;
  }
  .animate-delay-150 {
    animation-delay: 150ms;
  }
  .animate-delay-200 {
    animation-delay: 200ms;
  }
  .animate-delay-300 {
    animation-delay: 300ms;
  }
  .animate-delay-500 {
    animation-delay: 500ms;
  }
  .animate-delay-700 {
    animation-delay: 700ms;
  }
  .animate-delay-1000 {
    animation-delay: 1s;
  }
}

body {
  @apply bg-white dark:bg-slate-900 text-slate-500 dark:text-slate-300;
}
.Typewriter {
  @apply mt-4 !important;
}
.Typewriter__wrapper {
  @apply font-mono text-white drop-shadow-[0_0_2px_currentColor] !important;
}
.Typewriter__cursor {
  @apply text-white !important;
}
